# git archive
.gitattributes export-ignore
.gitignore export-ignore
CHANGELOG.md export-ignore
package.sh export-ignore
README.md export-ignore
Release export-ignore
Resources export-ignore
Tools/user.cfg export-ignore
# git lfs
libhidapi-0.dll filter=lfs diff=lfs merge=lfs -text
Net/plugin.dll filter=lfs diff=lfs merge=lfs -text
Plugin/audio.dll filter=lfs diff=lfs merge=lfs -text
Plugin/controller.dll filter=lfs diff=lfs merge=lfs -text
Plugin/defaults/AudioHLE.dll filter=lfs diff=lfs merge=lfs -text
Plugin/defaults/GLideN64_40.dll filter=lfs diff=lfs merge=lfs -text
Plugin/defaults/NRage_Input_V2_23c.dll filter=lfs diff=lfs merge=lfs -text
Plugin/extra/AudioHLE_2nd_Tick.dll filter=lfs diff=lfs merge=lfs -text
Plugin/extra/AudioHLE_3rd_Tick.dll filter=lfs diff=lfs merge=lfs -text
Plugin/extra/AudioHLE_4th_Tick.dll filter=lfs diff=lfs merge=lfs -text
Plugin/extra/AudioHLE_5th_Tick.dll filter=lfs diff=lfs merge=lfs -text
Plugin/extra/AudioHLE_Original.dll filter=lfs diff=lfs merge=lfs -text
Plugin/GLideN64_20.dll filter=lfs diff=lfs merge=lfs -text
Plugin/graphics.dll filter=lfs diff=lfs merge=lfs -text
Plugin/Jabo_Direct3D8.dll filter=lfs diff=lfs merge=lfs -text
Plugin/No_Sound.dll filter=lfs diff=lfs merge=lfs -text
Plugin/NRage_DInput8_161.dll filter=lfs diff=lfs merge=lfs -text
Plugin/NRage_DInput8_V2_183.dll filter=lfs diff=lfs merge=lfs -text
Plugin/pj64raphnetraw_net.dll filter=lfs diff=lfs merge=lfs -text
Plugin/pj64raphnetraw.dll filter=lfs diff=lfs merge=lfs -text
Plugin/rsp.dll filter=lfs diff=lfs merge=lfs -text
Project64KillerOP.exe filter=lfs diff=lfs merge=lfs -text
Project64KSE.exe filter=lfs diff=lfs merge=lfs -text
Tools/7za.exe filter=lfs diff=lfs merge=lfs -text
Tools/package-updater.exe filter=lfs diff=lfs merge=lfs -text
Tools/kse-launcher.exe filter=lfs diff=lfs merge=lfs -text
Tools/stream-tool.exe filter=lfs diff=lfs merge=lfs -text
# eol
package.sh eol=lf
Tools/autopunch.win64.exe filter=lfs diff=lfs merge=lfs -text
