# user.cfg
# this changes in this file are not tracked

[Ensure_9999_Updater_Configs]
Remember=Deny

[Ensure_99990_Updater_Configs]
Remember=Deny

[Ensure_99999_Updater_Configs]
Remember=Deny

[Update_History]
20201205173553=eyJpbl9iZXRhIjoiMCIsIm5ld19pZCI6IiRGb3JtYXQ6JUgkIiwibmV3X3ZlciI6InYxLjMuMCIsIm9sZF9pZCI6IiRGb3JtYXQ6JUgkIiwib2xkX3ZlciI6InYxLjMuMCIsInR5cGUiOiJzZWxmLWF1dG8ifQ==
