# user.cfg
# this changes in this file are not tracked

[Ensure_9999_Updater_Configs]
Remember=Deny

[Ensure_99990_Updater_Configs]
Remember=Deny

[Ensure_99999_Updater_Configs]
Remember=Deny

[Update_History]
LastUpdateCheck=1632185251
